.widget-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.monitor-widget {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    grid-column: span 1;
}

.monitor-name {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

.monitor-data {
    width: 100%;
    font-size: 1em;
}

.monitor-data-name {
    width: 100%;
    font-size: 0.8em;
    font-weight: lighter;
}
