.MMM-UptimeKuma table {
    width: 100%;
    border-collapse: collapse;
}

.MMM-UptimeKuma td {
    padding: 10px;
}

.circle-indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.state-indicator {
    width: 20px;
    text-align: center;
}

.small td {
    padding: 5px 10px;
}
